*.o
*.py[co]

/defaults.py

/__root__/ccs-flatten/Makefile.setup
/__root__/ccs-flatten/ccs_flatten
/__root__/ccs-flatten/config.h
/__root__/build
/__root__/dist
/__root__/*.egg-info

/README.[!r]*
/cib.xml
/corosync.conf

# KEEP
.*
/tests/*/
/tests/*-archive

!/.gitignore
!/.travis.yml
!/tests/XMLFormat-walk/
!/tests/formats/
