*.o
*.py[co]

/defaults.py

/__root__/ccs_flatten
/__root__/ccs-flatten/Makefile.setup
/__root__/ccs-flatten/ccs_flatten
/__root__/ccs-flatten/config.h
/__root__/build
/__root__/dist
/__root__/*.egg-info

/README.[!r]*
/dump-*
/cib-*.xml
/cluster-*.conf
/corosync-*.conf
/tmp-cib.xml
/xslt-profile-*.xml

# KEEP
.*
/tests/*/
/tests/*-archive
/ext-plugins/*

!/.gitignore
!/.travis.yml
!/ext-plugins/lib-{general,ccs,pcs}
!/tests/XMLFormat-walk/
!/tests/filters/
!/tests/formats/
!/tests/functional/
