include gpl-2.0.txt COPYING
include KNOWN-ISSUES
include run-dev

graft ccs-flatten
recursive-exclude ccs-flatten ccs_flatten *.o Makefile.setup config.h .*/*

graft clufter/tests
recursive-include clufter tests/*

recursive-include doc cib-ids.txt rgmanager-pacemaker.*

global-exclude /.*
