include gpl-2.0.txt COPYING
include KNOWN-ISSUES
include run-check run-dev

graft ccs-flatten
recursive-exclude ccs-flatten ccs_flatten *.o Makefile.setup config.h .*/*

exclude clufter/setup.py
prune clufter/tests

recursive-include doc cib-ids.txt env_vars.txt fdl-1.3.txt rgmanager-pacemaker.*

global-exclude /.*
